<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">© Copyright 2019 Ben's Jamin'</p>

<a id="fork" href="https://github.com/benelan/foos">
<img alt="Github Page" src="/img/fork.png" width="100" height="100">
</a>