<!-- views/pages/report.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron" style="min-height: 460px">
		<h2>Honor system, fellas!</h2>
		<form method="POST" action="/submit-game">
		<table class="table">
			<thead>
				<tr>
				<th scope="col">Team</th>
				<th scope="col">Name</th>
				<th scope="col">Points</th>
				<th scope="col">Wins</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<th scope="row">1</th>
				<td><input type="text" class="form-control" id="name1" name="name1"/></td>
				<td><input type="text" class="form-control" id="points1" name="points1"/></td>
				<td><input type="text" class="form-control" id="wins1" name="wins1"/></td>
				</tr>
				<tr>
				<th scope="row">1</th>
				<td><input type="text" class="form-control" id="name2" name="name2"/></td>
				<td><input type="text" class="form-control" id="points2" name="points2"/></td>
				<td><input type="text" class="form-control" id="wins2" name="wins2"/></td>
				</tr>
				<tr>
				<th scope="row">2</th>
				<td><input type="text" class="form-control" id="name2" name="name2"/></td>
				<td><input type="text" class="form-control" id="points2" name="points2"/></td>
				<td><input type="text" class="form-control" id="wins2" name="wins2"/></td>
				</tr>
				<tr>
				<th scope="row">2</th>
				<td><input type="text" class="form-control" id="name2" name="name2"/></td>
				<td><input type="text" class="form-control" id="points2" name="points2"/></td>
				<td><input type="text" class="form-control" id="wins2" name="wins2"/></td>
				</tr>
			</tbody>
			</table>
				<button type="submit" class="btn btn-light">Submit</button>
            </form>
        </div>
    </div>

    <div class="col-sm-4">        
        <div class="jumbotron" style="min-height: 460px">
            <h3>Suggestions</h3>
                <form method="POST" action="/submit-suggest">
                
                <div class="form-group">
					<input type="text" class="form-control" id="trashy" placeholder="Enter Name">
				</div>
                
				<div class="form-group">
    				<textarea class="form-control" id="trash" rows="7" placeholder="Brilliant Ideas"></textarea>
 					 </div>
					  <button type="submit" class="btn btn-light">Submit</button>
				</form>
        </div>
    </div>

</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>